<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Prüfung Auskunft / Datenschutzerklärung</a>
</nav>

<div class="container-fluid">
  <div class="row">

    <main role="main" class="col-md-12 ml-sm-auto col-lg-12 pt-3 px-4">

      <div class="form-group">
        <label for="gdprtext">Hier Text einfügen</label>
        <textarea id="gdprtext" class="form-control" rows="10" (change)="contentChanged($event)" ></textarea>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <div class="btn btn-primary" (click)="doChecks()" tabindex="0" id="submitButton" *ngIf="!checkRunning">
              <span>Text prüfen</span>
            </div>
            <div class="btn btn-secondary" disabled="disabled" tabindex="0" *ngIf="checkRunning">
              <span>Text prüfen</span>
            </div>

          </div>

        </div>
        <div class="col" id="loader" *ngIf="checkRunning">
          Bitte warten <img src="assets/img/ajax-loader.gif" />
        </div>
      </div>


      <h2>Aktuelle Prüfung</h2>
      <div *ngIf="gesamtnote != null">
        Gesamtnote: {{ gesamtnote }}
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
          <tr>
            <th>#</th>
            <th>Prüfung</th>
            <th>Ergebnis</th>
            <th>Textstellen</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let check of checks; let i = index">
            <td>{{ i+1 }}</td>
            <td *ngIf='check.success === true' class="alert-success" (click)="toggle(check)">
              <svg class="bi bi-check" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3.5-3.5a.5.5 0 11.708-.708L6.5 10.293l6.646-6.647a.5.5 0 01.708 0z" clip-rule="evenodd"/>
              </svg>
            </td>
            <td *ngIf='check.success === false' class="alert-danger" (click)="toggle(check)">
              <svg class="bi bi-exclamation-triangle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M7.938 2.016a.146.146 0 00-.054.057L1.027 13.74a.176.176 0 00-.002.183c.016.03.037.05.054.06.015.01.034.017.066.017h13.713a.12.12 0 00.066-.017.163.163 0 00.055-.06.176.176 0 00-.003-.183L8.12 2.073a.146.146 0 00-.054-.057A.13.13 0 008.002 2a.13.13 0 00-.064.016zm1.044-.45a1.13 1.13 0 00-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z" clip-rule="evenodd"/>
                <path d="M7.002 12a1 1 0 112 0 1 1 0 01-2 0zM7.1 5.995a.905.905 0 111.8 0l-.35 3.507a.552.552 0 01-1.1 0L7.1 5.995z"/>
              </svg>
            </td>
            <td *ngIf='check.success === null' class="alert-secondary">
              <svg class="bi bi-question" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.25 6.033h1.32c0-.781.458-1.384 1.36-1.384.685 0 1.313.343 1.313 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.007.463h1.307v-.355c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.326 0-2.786.647-2.754 2.533zm1.562 5.516c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
              </svg>
            </td>
            <td>{{ check.name }}</td>
            <td><div *ngIf="check.contents.length === 0">(keine)</div><div *ngFor="let content of check.contents">{{ content }}</div></td>
          </tr>

          </tbody>
        </table>
      </div>
      <div class="alert alert-secondary">
        <svg class="bi bi-eye-slash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 00-2.79.588l.77.771A5.944 5.944 0 018 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0114.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
          <path d="M11.297 9.176a3.5 3.5 0 00-4.474-4.474l.823.823a2.5 2.5 0 012.829 2.829l.822.822zm-2.943 1.299l.822.822a3.5 3.5 0 01-4.474-4.474l.823.823a2.5 2.5 0 002.829 2.829z"/>
          <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 001.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 018 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709z"/>
          <path fill-rule="evenodd" d="M13.646 14.354l-12-12 .708-.708 12 12-.708.708z" clip-rule="evenodd"/>
        </svg>
        In dieser Anwendung werden alle Daten lokal verarbeitet, es findet keine Übertragung an das Internet statt.
      </div>
    </main>
  </div>
</div>


<router-outlet></router-outlet>
